{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Django Girls blog</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstraptheme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="sample-img">
            <img src="{% static 'img/p_08_sunrise.jpg' %}">
        </div>
        <div class="sample-video">
            <video width="640" height="360" controls>
                <source src="{% static 'video/p_08_Big_Buck_Bunny_360_10s_10MB.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>